<div class="container my-3">

  <div class="row my-3 px-1">
    <div class="col-sm-3 border d-flex justify-content-center align-items-center order-sm-2 work-img">
      <div src="../../../../assets/images/Bynet.png" class="font font-weight-bold greenTitle">Matrix</div>
    </div>
    <div class="col-sm-9">
      <div class="d-flex align-items-start flex-column justify-content-center content-wrapper px-3">
        <h4 class="title greenTitle">Front End Developer</h4>
        <div class="desc ">
          <ul>
            <li><b>Kendo UI Html5 Css3 JavaScript jQuery Bootstrap4 JSON</b></li>
            <li>Improved existing component visually and removed dead code</li>
            <li>Improved general look</li>
            <li>Expanded components functionality</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3 px-1">
    <div class="col-sm-3 border d-flex justify-content-center align-items-center work-img">
      <div src="../../../../assets/images/Bynet.png" class="font font-weight-bold greenTitle">Bynet Software System
      </div>
    </div>
    <div class="col-sm-9">
      <div class="d-flex align-items-start flex-column justify-content-center content-wrapper px-3">
        <h4 class="title greenTitle">Front End Developer</h4>
        <div class="desc">
          <ul>
            <li><b>HTML5 , Css3 , Javscript , Jquery , Handlebars , Ajax , Bootstrap , JSON</b></li>
            <li>Build components / portals from scratch by style guide and specification</li>
            <li>Create supports lists in SharePoint</li>
            <li>Create dynamic components / portals using REST API</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>