<div class="container my-3">

  <div class="row my-3 px-1">
    <div class="col-sm-3 border d-flex justify-content-center align-items-start order-sm-2">
      <img src="../../../../assets/images/Matrix.png" class="work-img">
    </div>
    <div class="col-sm-9">
      <div class="d-flex align-items-start flex-column justify-content-center content-wrapper px-3">
        <h4 class="title greenTitle">Lorem Ipsum</h4>
        <div class="desc ">Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</div>
      </div>
    </div>
  </div>

  <div class="row my-3 px-1">
      <div class="col-sm-3 border d-flex justify-content-center align-items-start">
        <img src="../../../../assets/images/Bynet.png" class="work-img">
      </div>
      <div class="col-sm-9">
        <div class="d-flex align-items-start flex-column justify-content-center content-wrapper px-3">
          <h4 class="title greenTitle">Lorem Ipsum</h4>
          <div class="desc">Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</div>
        </div>
      </div>
    </div>

</div>