#skills-container {
    min-height: 81.4%;
}

.content {
    display: block;
    height: 50%;
}

h5 {
    margin: 0;
}

.bar-wrapper {
    width: 90%;
    height: 20px;
    background: #ccc;
}

.bar {
    transition: 2s all;
    height: 20px;
    background: rgb(152, 183, 185);
}