<div id="skills-container">
  <div class="content-wrapper p-5">
    <div class="content">

      <div class="d-flex flex-row justify-content-between align-items-center">
        <h5 class="title">Html</h5>
        <div class="bar-wrapper d-flex flex-row justify-content-start align-items-center">
          <div class="bar" [ngStyle]="{'width.%':bar1}"></div>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between align-items-center">
        <h5 class="title">Css</h5>
        <div class="bar-wrapper d-flex flex-row justify-content-start align-items-center">
          <div class="bar" [ngStyle]="{'width.%':bar2}"></div>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between align-items-center">
        <h5 class="title">Javascript</h5>
        <div class="bar-wrapper d-flex flex-row justify-content-start align-items-center">
          <div class="bar" [ngStyle]="{'width.%':bar3}"></div>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between align-items-center">
          <h5 class="title">Jquery</h5>
          <div class="bar-wrapper d-flex flex-row justify-content-start align-items-center">
            <div class="bar" [ngStyle]="{'width.%':bar4}"></div>
          </div>
        </div>

      <div class="d-flex flex-row justify-content-between align-items-center">
        <h5 class="title">Angular 7</h5>
        <div class="bar-wrapper d-flex flex-row justify-content-start align-items-center">
          <div class="bar" [ngStyle]="{'width.%':bar5}"></div>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between align-items-center">
        <h5 class="title">Nodejs</h5>
        <div class="bar-wrapper d-flex flex-row justify-content-start align-items-center">
          <div class="bar" [ngStyle]="{'width.%':bar6}"></div>
        </div>
      </div>
    </div>
  </div>
</div>