app-header {
    background: #e0ebe8;
    display: block;
}

app-resume {
    min-height: 59.1%;
    margin-bottom: -100px;
    display: block;
}

app-resume:after {
    content: "";
    display: block;
    height: 100px;
}
