nav>ul{
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 80px;
}
nav>ul>li>a{
    padding:0px 15px;
    color: #45b29a;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s all;
}
nav>ul>li>a:hover{
    color : #3e8878;
}
nav>ul>li>a.active{
    color: #21564b;
}
ul{
    margin:0;
}